body {
  background-color: #59518f;
}
#container {
  align-items: center;
  display: flexbox;
  justify-content: center;
}
#heading {
  text-align: center;
  color: white;
}
#description {
  font-style: italic;
}
#formDiv {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #2c2c4a;
  color: white;
}

#dropdown, #dropdown2 {
    width: 580px;
    padding: 20px;
    margin-top: 20px;
    height: 30px;
}

#name, #email, #number {
  height: 30px;
}

.formOptions {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#submit {
  padding: 10px;
  font-size: 20px;
  background-color: #37af65;
  border: none;
  color: white;
}
