body {
  background-color: #59518f;
}
#container {
  align-items: center;
  display: flexbox;
  justify-content: center;
}
#heading {
  text-align: center;
  color: white;
}
#description {
  font-style: italic;
}
#formDiv {
  width: 50vw;
  margin: auto;
  padding: 20px;
  background-color: #2c2c4a;
  color: white;
}
#name {
  height: 30px;
}
#email {
  height: 30px;
}
#number {
  height: 30px;
}
#dropdown {
  height: 30px;
}
#dropdown2 {
  height: 30px;
}

.formOptions {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#submit {
  padding: 10px;
  font-size: 20px;
  background-color: #37af65;
  border: none;
  color: white;
}
